.Info {
    text-align: center;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row-reverse;
    width: 100%;
    height: 100%;

}


@media screen and (max-width: 1132px) {
    .Info {
        flex-direction: column-reverse;
        justify-content: center;
    }

    .Info-header {
        text-align: center;
    }
}

@keyframes fadein {
    from {
        top: -50px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}

.animation {
    animation: fadein 2s;
    -webkit-animation: fadein 2s; /* Safari and Chrome */
}

.animationDelay {
    animation: 3s ease 0s normal forwards 1 fadein2;
    -webkit-animation: 3s ease 0s normal forwards 1 fadein2;
    opacity: 1
}

@keyframes fadein2 {
    0% {
        opacity: 0
    }
    35% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}
