.Info {
    text-align: center;
    min-height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-direction: row-reverse;
    width: 100%;
    height: 100vh;

}

.Main {
    position: absolute;
    left: 0;
    right: 0;
    z-index: -1;
    width: 100%;
    height: 100vh;
    background-image: url("/building.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(10px) brightness(60%);
    -webkit-filter: blur(5px) brightness(120%);
    transform: scale(1.1);
}

.Content {
    color: black;
    font-size: 54px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-weight: 600;
}
